.innercontainer{
    width: 60%;
    margin: auto;
}

.card{
    background-color: hsl(214, 42%, 42%);
    color: white;
    padding: 10px;
}

.card h3{
    font-weight: 500;
    font-size: 1.5rem;
    max-width: 70%;


}

.card p{
    max-width: 70%;
}

.card button{
    border: none;
    background-color: white;
    margin-right: 20px;
    padding: 5px;
}

.oops{
    text-align: center;
    margin-top: 20vh;
}

.oops h2{
    font-size: 4rem;

}