.maincontainer{
    background-color:white;
    color: 	hsl(225, 46%, 32%);
    height: 10vh;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.navlist{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navlist li {
    margin : 0 10px;
    color:hsl(30, 46%, 32%)

}

.navbtn button{
    background-color: hsl(225, 46%, 32%) ;
    color: white;
    width: min-content;
    padding: 15px;
    border: none;
    border-radius: 15px;
}

.navbtn button:hover{
    cursor: pointer;
}

.hamburger{
    width: 60px;
    display: none;
}

.hamburger li{
    background: hsl(225, 46%, 32%);
    list-style: none;
    height: 4px;
    width: 100%;
    margin-top: 3px;


}

@media(max-width : 480px){

    .hamburger{
        display: block;
    }

    .navcontainer{
        position: fixed;
        top : 10%;
        right: 0;
        height: 78vh;
        transition-duration: 0.7s;

    }

.navlist{
    display: block;
    text-align: center;
    background-color: hsl(225, 46%, 32%);
    padding: 10px;
    height: 100%;


}

.navlist li{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.2rem;
    display: block;
    transition: 0.3s;

}



}