.container {
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

.cardscontainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.card {
  width: 200px;
  height: 200px;
  margin: 35px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(214, 46%, 32%);
  box-shadow: 2px 2px 3px black;
  z-index : 1;
  
  /*box-shadow: 2px 2px 5px 0px hsl(30, 46%, 32%);*/

}

.card:hover{
  cursor: pointer;
}


.title {
  padding: 15px;
  color: white;
  font-size: 1.2rem;
}


.btndiv{
 color: white;
display: none;
padding: 20px;
}


.morebtn{
  margin: 50px auto 30px auto;
  width: 100%;
}

.morebtn button{
  display: block;
  margin: auto;
  width: auto;
  padding: 8px;
  border: none;
  background-color: hsl(30, 46%, 32%);
  color: white;
  border-radius: 5px;
}

.morebtn button:hover{
  cursor: pointer;
  
}

/*medi queries*/

/*480px*/

@media(max-width: 480px){

  .card {
    width: 200px;
    height: 200px;
  }

  .title {
    padding: 15px;
    color: white;
    font-size: 1.1rem;
  }

}