

.container{
    height: 80vh;
    width: 100%;
    
}

.formcontainer{
    width: 100%;
    height: 100%;
    background-color: #3A539B;
    margin: 5vh auto auto auto;
    vertical-align:middle;

padding-top: 15px;
}

.formcontainer label{
    color: white;
    margin-bottom: 5px;
}

.formcontainer form{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    margin: 0 auto auto auto;
}

.formcontainer h2{
    text-align: center;
    margin-bottom: 15px;
    color: white;
    font-weight: 600;
}

.left{
    width: 50%;
}
.right{
    width:30%;
}

.title, .description{
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    border: none;
}

.title{
    height: 15%;
}

.description{
    height: 60%;
}

.right input{
    height: 5%;
    width: 100%;
    margin-bottom: 30px;
    outline: none;
    padding: 10px;
    font-size: 1rem;
    border: none;
}

.right button{
    border: none;
    padding: 10px;
    
}

@media(max-width: 900px){

    .container {
        height: auto;
    }

    .formcontainer{
        width: 60%;
        background-color: #3A539B;
        margin: 5vh auto 5vh auto;
        vertical-align:middle;
    
    padding-top: 15px;
    height: auto;
    }

    .formcontainer form{
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto 5vh auto;
    }

    .left{
        width: 90%;
    }
    .right{
        width:90%;
    }

    .title{
        height: 10vh;
    }
    
    .description{
        height: 30vh;
    }

    .right button{
        
        margin-bottom: 20px;
        
    }

}

@media (max-width: 480px) {

    .formcontainer form{
        width: 80%;
        
    }

    .formcontainer{
        width: 80%;
        
    }
    
}